@import "../../app.scss";
.services {
  // background: linear-gradient(180deg, #0c0c1d, #111132);
  background: linear-gradient(180deg, #102c57, #191d88);

  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .textContainer {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;

    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;
      gap: 0rem;
    }

    p {
      font-weight: 200;
      font-size: 1.2rem;
      color: gray;
      text-align: right;
      @include mobile {
        font-size: 1rem;
        padding: 1rem 0;
      }
    }

    hr {
      width: 400px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 250px;
        padding-bottom: 0.4rem;
      }
    }
  }
  .titleContainer {
    flex: 2;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 3rem;

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 1rem;
      }

      img {
        width: 280px;
        height: 70px;
        border-radius: 50px;
        object-fit: cover;

        @include mobile {
          width: 200px;
          height: 50px;
        }
      }

      h1 {
        font-size: 3rem;
        font-weight: 100;

        @include mobile {
          font-size: 1.2rem;
        }
      }

      button {
        width: 230px;
        height: 60px;
        border-radius: 4rem;
        background-color: #ff5b22;
        border: none;
        font-size: 1.2rem;
        cursor: pointer;

        @include mobile {
          font-size: 0.9rem;
          width: 120px;
          height: 33px;
        }
      }
    }
  }
  .listContainer {
    flex: 2;
    display: flex;
    max-width: 1066px;
    margin: auto;

    @include mobile {
      flex-direction: column;
      width: 100%;
    }

    .box {
      padding: 2rem;
      border: 0.5px solid #ff5b22;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1rem;

      @include mobile {
        border: none;
        align-items: center;
        padding: 0.6rem;
        gap: 0rem;
      }
      h2 {
        font-size: 1.5rem;
        @include mobile {
          font-size: 1rem;
        }
      }
      p {
        font-size: 1rem;
        @include mobile {
          display: none;
        }
      }

      button {
        padding: 0.3rem 0.6rem;
        background-color: #ff5b22;
        border: none;
        border-radius: 1rem;
        cursor: pointer;

        @include mobile {
          background-color: transparent;
          border: 1px solid #ff5b22;
          border-radius: 5px;
          color: #ff5b22;
          width: 50%;
          padding: 3px;
        }
      }
    }
  }
}
