@import "../../app.scss";

.footer {
  flex: 1;
  font-size: 1.2rem;
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;

  b {
    color: #ff5b22;
  }
  @include mobile {
    font-size: 1rem;
    padding: 0.5rem 0;
  }
}
